# Tuples

In [ ]:

my_tuple = (1, 2, 3, "hello", True)
print(my_tuple)

(1, 2, 3, 'hello', True)

In [2]:

print(my_tuple[0])  
print(my_tuple[3])

1
hello

In [3]:

print(my_tuple[1:4])

(2, 3, 'hello')

In [4]:

print(my_tuple[1:4])

(2, 3, 'hello')

In [6]:
packed_tuple = 1, 2, 3
print(packed_tuple)  



a, b, c = packed_tuple
print(a)  
print(b)  
print(c)

(1, 2, 3)
1
2
3

In [7]:

student_info = ("Alice", 21, "Computer Science")


name = student_info[0]
age = student_info[1]
major = student_info[2]

print(f"Name: {name}, Age: {age}, Major: {major}")


student_name, student_age, student_major = student_info
print(f"Name: {student_name}, Age: {student_age}, Major: {student_major}")

Name: Alice, Age: 21, Major: Computer Science
Name: Alice, Age: 21, Major: Computer Science

In [8]:

tuple1 = ("Hello", "World")
tuple2 = ("Python", "Rocks")


concatenated_tuple = tuple1 + tuple2

print(concatenated_tuple)

('Hello', 'World', 'Python', 'Rocks')

In [10]:

number_tuple = (1, 2, 3, 4, 5)


total = sum(number_tuple)
print(total)  


total_with_start = sum(number_tuple, 10)
print(total_with_start)

15
25

In [14]:

number_tuple = (5, 2, 8, 1, 4)


minimum_value = min(number_tuple)

maximum_value = max(number_tuple)
print(minimum_value)

print(maximum_value)

1
8

In [16]:

my_tuple = (1, 2, 3)


try:
    my_tuple[0] = 10  
except TypeError as e:
    print(e)

'tuple' object does not support item assignment

In [17]:

try:
    my_tuple.append(4)  
except AttributeError as e:
    print(e)  


try:
    my_tuple.remove(2)  
except AttributeError as e:
    print(e)

'tuple' object has no attribute 'append'
'tuple' object has no attribute 'remove'

In [18]:

number_tuple = (5, 2, 8, 1, 4)


sorted_list = sorted(number_tuple)  
sorted_tuple = tuple(sorted_list)    

print(sorted_tuple)

(1, 2, 4, 5, 8)