In [1]:
import numpy as np
import pandas as pd

In [10]:
cars_per_cap = [809, 731, 588, 18, 200, 70, 45]
country = ['united States','Australia','Japan', 'India','Russia', 'Morocco', 'Egypt']
drives_right = [True, False, False, False, True, True, True]

In [16]:
data = {
"cars_per_cap":cars_per_cap,
    "country":country,
    "drives_right":drives_right   
    }

data

{'cars_per_cap': [809, 731, 588, 18, 200, 70, 45],
 'country': ['united States',
  'Australia',
  'Japan',
  'India',
  'Russia',
  'Morocco',
  'Egypt'],
 'drives_right': [True, False, False, False, True, True, True]}

In [17]:
cars = pd.DataFrame(data)
cars

   cars_per_cap        country  drives_right
0           809  united States          True
1           731      Australia         False
2           588          Japan         False
3            18          India         False
4           200         Russia          True
5            70        Morocco          True
6            45          Egypt          True

In [19]:
type(cars)

pandas.core.frame.DataFrame

In [39]:
cars_csv_df = pd.read_csv("/kaggle/input/fake-cars/fake_car_data.csv")
cars_csv_df

          Country Region  Cars_per_cap  Drives_right
0         Morocco  ASPAC     45.000000          True
1         England  ASPAC     18.000000          True
2       Australia  ASPAC    809.000000          True
3           India  ASPAC    588.000000          True
4           Japan   USCA    809.000000         False
..            ...    ...           ...           ...
95  United States  LATAM     18.000000         False
96          Egypt  LATAM    200.000000          True
97  United States    EUR    200.000000         False
98        Morocco  ASPAC    731.000000          True
99      Australia    AFR    342.784091         False

[100 rows x 4 columns]

In [42]:
cars_csv_df.columns = ["country", "Region","c_p_c","drives_right"]

In [43]:
cars_csv_df

          country Region       c_p_c  drives_right
0         Morocco  ASPAC   45.000000          True
1         England  ASPAC   18.000000          True
2       Australia  ASPAC  809.000000          True
3           India  ASPAC  588.000000          True
4           Japan   USCA  809.000000         False
..            ...    ...         ...           ...
95  United States  LATAM   18.000000         False
96          Egypt  LATAM  200.000000          True
97  United States    EUR  200.000000         False
98        Morocco  ASPAC  731.000000          True
99      Australia    AFR  342.784091         False

[100 rows x 4 columns]