In [2]:
import numpy as np

In [4]:
import pandas as pd

In [8]:
sales = pd.read_excel('/kaggle/input/sales-data/sales data.xlsx')
sales

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
0,Sweden,98320.37,77722.25,8/23/2020,Games,Konopelski LLC,Maxie Marrow,Tarrah Castelletti,Tablet,70-0511466
1,France,46296.26,40319.41,5/15/2020,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084
2,Portugal,140337.34,115708.14,2020-04-09 00:00:00,Appliances,Hegmann Group,Celine Tumasian,Corene Shirer,PC,65-8218141
3,France,203604.46,175344.16,6/26/2019,Electronics,Kirlin and Sons,Othello Bowes,Crysta Halls,Mobile,29-5478106
4,UK,63979.04,56032.84,10/22/2019,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546
...,...,...,...,...,...,...,...,...,...,...
996,France,69126.50,55902.6,2019-08-12 00:00:00,Electronics,"Farrell, Swaniawski and Crist",Othello Bowes,Avrit Chanders,PC,07-3201531
997,France,140943.88,120633.87,5/28/2020,Appliances,Armstrong-Little,Othello Bowes,Avrit Chanders,Tablet,77-0650807
998,France,124784.67,106853.11,5/22/2020,Electronics,"Swaniawski, Runolfsson and Green",Othello Bowes,Ora Grennan,Tablet,44-2757396
999,Germany,61968.26,50690.04,12/27/2020,Electronics,Romaguera-Dietrich,Rickard Doogood,Casie MacBain,PC,22-7259031
1000,Netherlands,172453.10,145688.38,6/24/2020,Outdoors,Kirlin and Sons,Denice Amberg,Nero Harbisher,PC,60-6986682

In [9]:
sales.tail(3)

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
998,France,124784.67,106853.11,5/22/2020,Electronics,"Swaniawski, Runolfsson and Green",Othello Bowes,Ora Grennan,Tablet,44-2757396
999,Germany,61968.26,50690.04,12/27/2020,Electronics,Romaguera-Dietrich,Rickard Doogood,Casie MacBain,PC,22-7259031
1000,Netherlands,172453.10,145688.38,6/24/2020,Outdoors,Kirlin and Sons,Denice Amberg,Nero Harbisher,PC,60-6986682

In [10]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          1001 non-null   object
 1   order_value_EUR  996 non-null    float64
 2   cost             1001 non-null   object
 3   date             1001 non-null   object
 4   category         1001 non-null   object
 5   customer_name    1001 non-null   object
 6   sales_manager    1001 non-null   object
 7   sales_rep        1001 non-null   object
 8   device_type      996 non-null    object
 9   order_id         1001 non-null   object
dtypes: float64(1), object(9)
memory usage: 78.3+ KB

In [12]:
sales.describe()

       order_value_EUR
count       996.000000
mean     113193.920361
std       61599.836849
min       15100.570000
25%       65243.642500
50%      105357.645000
75%      151047.032500
max      383996.760000

In [13]:
sales["country"]

0            Sweden
1            France
2          Portugal
3            France
4                UK
           ...
996          France
997          France
998          France
999         Germany
1000    Netherlands
Name: country, Length: 1001, dtype: object

In [15]:
type(sales["cost"])

pandas.core.series.Series

In [19]:
sales[["country","cost"]]

          country       cost
0          Sweden   77722.25
1          France   40319.41
2        Portugal  115708.14
3          France  175344.16
4              UK   56032.84
...           ...        ...
996        France    55902.6
997        France  120633.87
998        France  106853.11
999       Germany   50690.04
1000  Netherlands  145688.38

[1001 rows x 2 columns]

In [20]:
sales.iloc[6]

country                        Sweden
order_value_EUR              69681.43
cost                         55529.13
date                        1/25/2020
category                     Clothing
customer_name      Romaguera-Dietrich
sales_manager            Maxie Marrow
sales_rep                Alyosha Meah
device_type                        PC
order_id                   78-3301264
Name: 6, dtype: object

InvalidIndexError: ['sales_rep', 'device_type', 'order_id']